* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #111;
  color: white;
}

/* Header */
header {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 80px;
}

/* Hero Section */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay h2 {
  font-size: 30px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Banner */
.banner img {
  width: 100%;
  margin-top: 20px;
}

/* Products */
.products {
  padding: 20px;
  text-align: center;
}

.grid {
  display: flex;
  gap: 10px;
}

.grid img {
  width: 50%;
  border-radius: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}
